*{
    margin: 0;
}

body{
    background-image: linear-gradient(to bottom right, #e64f8ae8, #00ffbd);
    height: 100vh;
overflow: hidden;
}

.container{
    max-width: 350px;
    margin-inline: auto;
    border: 0.5px solid ;
    padding: 18px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: burlywood;
}
h1{
    text-align: center;
}

.range-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
    font-size: 24px;
    margin-block: 10px;
}

.button-content{
    width: 100%;
    display: flex;
    justify-content: center;
}


button{
    padding: 10px 16px;
    border: 0.5px solid;
    border-radius: 8px;
    cursor: pointer;
}


.show-password{
    width: 340px;
    border: 0.5px solid ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    margin-top:30px ;
    border-radius: 8px;
}

.copy-container{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.copy{
    margin-top: 28px;
    padding: 12px 22px;
}